@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#root {
  /* height: 100vh; */
  width: 100%;
  height: 100%;
  --header-bar-height: 80px;
  --navbar-bar-width: 320px;
  --right-bar-width: 400px;
}

.background-page {
  background-color: white;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.major-body {
  display: flex;
  width: 100%;
  flex: 1;
  margin-top: var(--header-bar-height);
}

.main-body {
  display: flex;
  flex: 1;
  margin-left: var(--navbar-bar-width);
}
