.question-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.question-header {
  color: #dadadc;
  border-bottom: 2px solid #fecd09;
  padding-bottom: 10px;
}

.question-container {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.question-title {
  font-size: xx-large;
  color: black;
  margin-bottom: 10px;
}

.author-name {
  color: black;
  font-style: italic;
}

.question-description {
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}

.question-tags {
  margin-bottom: 15px;
}

.tags-label {
  font-weight: bold;
}

.tag-item {
  color: black;
  font-size: 14px;
  margin-right: 8px;
  background-color: #dadadc;
  padding: 10px 20px;
  border-radius: 20px;
}

.tag-item:first-child {
  border: 1px solid #2c3e50;
  background-color: aqua;
  padding: 2px 6px;
  border-radius: 4px;
}

.answers-section {
  margin-top: 30px;
}

.answers-header {
  color: #2c3e50;
  border-bottom: 1px solid #dadadc;
  padding-bottom: 5px;
}

.answer-card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border-left: 4px solid #fecd09;
}

.answer-content {
  margin: 0;
  line-height: 1.5;
}

.votes {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 10px 0px;
}
