/* Sidebar */
.nav-bar {
  width: 280px;
  height: 100%;
  padding: 10px 20px;
  border: 1px solid #fecd09;
  overflow: hidden;
  position: fixed;
}

.nav-bar div {
  padding: 15px;
  margin: 10px;
  display: flex;
  gap: 30px;
  width: 80%;
  border-radius: 8px;
}

.nav-bar div:first-child {
  background-color: #f5f5f5;
}

.navbar div p {
  text-align: center;
}
